head
	title LifeChart
	link(href='http://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Ledger', rel='stylesheet', type='text/css')
body
	.container-fluid
		.row-fluid
			.span3.lfill.sidebar
				.wrap
					header.side-header
						h1
							a(href='#') LifeChart.Me
						h4.subheader View and graph your money
						{{> sidebar_user_details}}
					hr
					.side-content
						{{> sidebar_content}}
				footer.side-footer
					{{> sidebar_footer}}
			.span9.rfill
				{{> main_content}}
