
@import "style/colours.less";
@import "style/base.less";

/* Styling UI sections to take up fullscreen */
html, body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color: @body;
}

a {
    text-decoration:none;
    color: @href;
}

/* Styling buttons */
.pure-button-success {
    .pureButtonStyle(@btn-success-green); /* this is a green */
}

.pure-button-error {
    .pureButtonStyle(@btn-success-error); /* this is a maroon */
}

.pure-button-warning {
    .pureButtonStyle(@btn-success-warning);
}

.pure-button-secondary {
    .pureButtonStyle(@btn-success-secondary); /* this is a light blue */
}

.pure-button-link {
    .pureButtonStyle(@btn-link); 
}
