head
	title LifeChart
body
	.container-fluid.fill
		.row-fluid
			.span3.lfill.sidebar
				.header
					h1
						a(href='#') LifeChart.Me
					h4.subheader View and graph your money
				hr
			.span9.rfill.main
				p Somethingelsesss
				{{> hello}}
	.push
	.footer
		.container
			.muted.credit
				p test
