head
	title LifeChart
body
	.container-fluid
		.row-fluid
			.span3.lfill.sidebar
				.wrap
					header.side-header
						h1
							a(href='#') LifeChart.Me
						h4.subheader View and graph your money
					hr
					.side-content
						{{> loginButtons}}
				footer.side-footer
					hr
					p Footer Content Here
			.span9.rfill.main
				p Somethingelsesss
				{{> hello}}

