/* CSS declarations go here */

/* Styling UI sections to take up fullscreen */
html, body {
    height: 100%;

}

.rfill {
    right: 0;
    .filler;
}

.lfill {
    left: 0;
    .filler;
}

.filler {
    background-color: inherit;
    bottom: 0;
    position: absolute;
    top: 0;
    width: inherit;
}

/* Styling Sidebar */

.sidebar {
    background-color: white;
    border-right: 1px solid #929292;    
    box-shadow: 0px 4px 20px #231F20;
    -webkit-box-shadow: 0px 4px 20px #231F20;
    -mox-box-shadow: 0px 4px 20px #231F20;
}

.wrap {
	min-height: 99%;
}

/* Styling Header */

.side-header {
	padding-left: 20px;
}

/* Styling Sidebar Content */
/* Maybe put in separate css file */

.side-content {
	
}

/* Styling Footer */

.side-footer {
	background-color: #fff;
	margin-top: -180px; /* negative value of footer height */
	height: 140px;
}

/* Styling General Elements */

hr {
	height: 1px;
}