
@import "colours.less";

/* Styling UI sections to take up fullscreen */
html, body {
    height: 100%;
    background-image: url('/images/foil.png');
    font-size: 100%;
}

h1 {
    font: 400 2.4em 'Nixie One', Georgia, serif;
}
 
p, h4 {
    font: 400 0.9em 'Ledger', Garamond, Georgia, serif;
}

.rfill {
    right: 0;
    .filler;
}

.lfill {
    left: 0;
    .filler;
}

.filler {
    bottom: 0;
    position: absolute;
    top: 0;
    width: inherit;
}

/* Styling Main */

.main {
    z-index: 0;
    background-color: white;
    border: 1px solid #CECECE;      
    box-shadow: 1px #231F20;
    margin-right: 1.1%;
    margin-top: 3%;
}

/* Styling General Elements */

hr {
	height: 1px;
}