
/* Global colouring scheme */

@body: #333333;
@href: #1b98f8;


/* Button colours */
@btn-success-green: #4CC947;
@btn-success-error: #CA3C3C;
@btn-success-warning: orange;
@btn-success-secondary: #5FC6DA;


/* Sidebar colours */
@sidebar-background: #252a3a;
@sidebar-href-background: #373c5a;
@sidebar-href-colour: #ffffff;

/* Login button colours */
@btn-login-twitter: #00ACED;
@btn-login-google: #3B5998;



/* OLD */

@brown: #585340;  
@off-white: #b7ae9d;
@white: #fafffd;
@light-blue: #accecd;
@red: #8a151b;
@pinky: #bc6367;
@header-blue: #0088CC;
@another-blue: #64A8D1;


@sidebar-menu-heading: #4b7197;
@sidebar-nav-header: #64A4B8;
@sidebar-nav-header-active: #64A462;
