
/* Global colouring scheme */

@brown: #585340;  
@off-white: #b7ae9d;
@white: #fafffd;
@light-blue: #accecd;
@red: #8a151b;
@pinky: #bc6367;
@header-blue: #0088CC;
@another-blue: #64A8D1;

/* Sidebar colours */
@sidebar-nav-header: #64A4B8;
@sidebar-nav-header-active: #64A462;
