
@import "../../../style/colours.less";
@import "../../../style/base.less";


/* Styling floating login/register box */

/* Styling Login Form */

.login-form {
    .form-actions {
        margin-top: 20px;
        margin-left: 30px;

        .left-pull {
            margin-left: -14px;
        }
        
        .enroll {
            margin-left: -29px !important;
        }
    }
    
    .toForgotPassBtn{
        text-decoration: underline;
        font-size: 0.8em;
    }

    fieldset > .pure-control-group {
        letter-spacing: normal;
        margin-left: 15px;

        label {
            display: inline;
        }

        .lblpass {
            padding-right: 2px;
        }
    }

    fieldset > a {
        letter-spacing: normal;
    }

    .login-messages {
        width: 17.8em;
        letter-spacing: normal;
    }
}

.login-box{
    margin-left: 10px;
    margin-top: 10px;
    color: white;

    .pure-g-r {
        .header {
            margin-left: 4.5em;
        }

        .lbl {
            margin-left: 1em;
        }

        p, h2 {
            letter-spacing: normal;
        }
    }
}

.box {
    border: 1px solid;     
    box-shadow: 0px 2px 8px #231F20;
    -webkit-box-shadow: 0px 2px 8px #231F20;
    -mox-box-shadow: 0px 2px 8px #231F20;

    &.account-box {
        background-color: @sidebar-background;
        width: 19em;
        height: 28em;
        border-radius: 10px;
        border-width: 3px;
        border-color: #fff;
        margin-left: -19.4em;
        margin-top: 6em;
        z-index: 10;

        &:after, &:before {
            content: ' ';
            position: absolute;
            border: 30px solid transparent;
            top: 1.6em;
        }

        &:before {
            border-right-color: #fff;
            left: 8.1em; //9.6%;
            z-index: 9;
        }

        &:after {
            border-right-color: @sidebar-background;
            left: 8.35em; 
            z-index: 11;
        }
    }

    &.register {
        &:before, &:after {
            top: 9em;
        }
    }
}


/* Styling login buttons */

.google {
    .pure-button {
        margin-left: 3em;
        width: 185px;        
        .pureButtonStyle(@btn-login-google);
    }
}

.twitter {
    .pure-button {
        margin-left: 3em;
        margin-top: 10px;
        width: 185px;  
        .pureButtonStyle(@btn-login-twitter);
    }
}








/* OLD Styling Sidebar Content */
/* Maybe put in separate css file */

.side-auth {
	width: 70%;
	text-align: center;
	margin-top: 25%;
	margin-left: 10%;

    @media only screen and (max-height : 790px) { 
        margin-top: 1%;
    } 

    /* Styling Welcome header */
    legend {
        @media only screen and (max-height : 790px) { 
            margin-bottom: 5%;
        }        
    }
}



