template(name='login_state')
  .side-auth
    {{#if currentUser}}
      {{> logged_in}}
    {{else}}
      legend Welcome!
      {{> logged_out}}
    {{/if}}

template(name='logged_in')
  {{#if currentUser}}
    {{> navigation_menu}}
  {{/if}}

template(name='logged_out')
  {{> user_account_form}}
  p.or 
    span Or
  button.btn.google Login with Google | 
    i.icon-user
  p.or
    span Or
  button.btn.twitter Login with Twitter | 
    i.icon-user

template(name='user_account_form')
  {{#if inSignupFlow}}
  p We need a few details to register you..
  {{/if}}
  form.login-form
      fieldset
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-user
              input#login-username(type='text', placeholder='Username')
        {{#if inSignupFlow}} 
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-envelope
              input#login-email(type='text', placeholder='Email')
        {{/if}}
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-lock
              input#login-password(type='password', placeholder='Password')
        {{#unless inSignupFlow}}
          button.btn.btn-link.toForgotPassBtn Forgotten password?
        {{/unless}}
        {{#if inSignupFlow}}        
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-exclamation-sign
              input#login-password-again(type='password', placeholder='Confirm Password')
          {{> login_message}}
          .form-actions
            .span9.left-pull.enroll
              p Already registered?
                button.btn.btn-link.toLoginBtn Login here!
            .span3
              #login-buttons-password.btn.btn-primary(type='submit').enroll-button Register
        {{else}}
          {{> login_message}}
          .form-actions
            .span9.left-pull
              p Haven't got an account?
                button.btn.btn-link.toEnrollBtn Create one here!
            .span3
              #login-buttons-password.btn.btn-primary.login-button-form-submit.login-button Login
        {{/if}}

template(name='login_message')
  {{#if errorMessage}}  
    .alert.alert-error
      {{errorMessage}}
  {{/if}}
  {{#if infoMessage}}  
    .alert.alert-info
      {{infoMessage}}
  {{/if}}
