
template(name='account_box')
  .box.account-box
    {{> login_menu}}

template(name='login_menu')
  .login-box
    .pure-g-r
      {{> user_account_form}}
    p.or
      span Or
    .pure-g-r.google
      button.pure-button Sign In with Google
    .pure-g-r.twitter
      button.pure-button Sign In with Twitter

template(name='user_account_form')
  {{#if inSignupFlow}}
  h2.header Register
  p.lbl We need a few details to register you..
  {{else}}
  h2.header Login
  p.lbl Please enter your login details
  {{/if}}
  form.pure-form.pure-form-aligned.login-form
      fieldset
          .pure-control-group.input-prepend
            label(for='login-username') Username
            input#login-username(type='text', placeholder='Username')

        {{#if inSignupFlow}} 
          .pure-control-group.input-prepend
            label(for='login-email') Email Address
            input#login-email(type='text', placeholder='Email Address')
        {{/if}}

          .pure-control-group.input-prepend
            label(for='login-password') Password
            input#login-password(type='password', placeholder='Password')

        {{#if inSignupFlow}} 
          .pure-control-group.input-prepend
            label(for='login-password') Confirm Password
            input#login-password-again(type='password', placeholder='Re-type Password')
        {{/if}}

        .login-messages
          {{> login_message}}

        {{#if inSignupFlow}}
          .form-actions.enroll
              #login-buttons-password.btn.btn-primary(type='submit').enroll-button Register
        {{else}}
          .pure-g-r.form-actions
            .pure-u-1-2
              a.toForgotPassBtn(href="#") Forgotten password?
            .pure-u-1-2
              #login-buttons-password.pure-button.login-button-form-submit.login-button Login
        {{/if}}

template(name='login_message')
  {{#if errorMessage}}  
    .alert.alert-error
      {{errorMessage}}
  {{/if}}
  {{#if infoMessage}}  
    .alert.alert-info
      {{infoMessage}}
  {{/if}}
