template(name='main_content')
  {{#if currentUser}}
    {{#if sessionEquals 'navMenuSelection' 'import-data'}}
        {{> import_data}}
    {{/if}}
    {{#if sessionEquals 'navMenuSelection' 'transactions-view'}}
        {{> transactions_view}}
    {{/if}}
    {{#if sessionEquals 'navMenuSelection' 'graph-view'}}
        {{> graph_view}}
    {{/if}}
    {{#if sessionEquals 'navMenuSelection' 'location_view'}}
        {{> location_view}}
    {{/if}}
  {{else}}
    {{> landing_page}}
  {{/if}}

template(name='import_data')
    h2 Import Data
    hr

template(name='graph_view')
    h2 Finance Overview
    hr

template(name='location_view')
    h2 Location Overview
    hr
