template(name='transactions_view')
    .span1
    .span10.transactions-view
        h2 Transactions
        hr
        table.table.table-striped.table-bordered.table-hover.table-condensed
            thead
                tr
                    td Date
                    td Transaction Type
                    td Description
                    td Value
                    td Balance
            tbody
                {{#each transactionList}}
                        tr
                            td.date-width {{formatDate date}}
                            td {{transaction_type}}
                            td {{description}}
                            td £{{value}}
                            td £{{balance}}
                {{/each}}
    .span1


