/* Styling Transactions Page */

.date-width {
    min-width: 145px;
}

.transactions-view > table {
    background-color: white;
    border: 1px #A0BED8;

    thead > tr:first-child + tr > th {
        min-width: 145px;
    }

    tbody > tr > td {
        text-align: center;
    }
}

.neg { 
    color: red;
}

.pos { 
    color: green;
}