/* Styling Transactions Page */

.date-width {
    min-width: 145px;
}

.transactions-view > table {
    background-color: white;
    border: 1px #A0BED8;

    thead > tr:first-child + tr > th {
        min-width: 145px;
        cursor: pointer;
    }

    tbody > .master {
        cursor: pointer;

        td {
            text-align: center !important;
        }

        td:nth-child(3) {
            text-align: left !important;
        }
    }
}

// TODO: Move to colours file;
.neg { 
    color: red;
}

.pos { 
    color: green;
}

.hide-detail {
    visibility: collapse;
    display: none;
}

.show-detail {
    visibility: visible;

    td {
        border: none !important;
        border-left: 5px solid green !important;
    }
}
