template(name='graph_view')
    h2 Financial Overview
    hr
    .row-fluid
        .span2.options
            button.btn.refresh Refresh
        .span10
            .spending
                svg.in-out-chart

