template(name='landingPage')
  .row-fluid
    .span3
    .span8
      .span3
        h4.head 
          a(href='#') Graphs
      .span4
        h4.head 
          a(href='#') Transactions
      .span4
        h4.head 
          a(href='#') Hotspots
    .span1

  .box.WarpShadow.WLarge.WNormal.InOutBar
    #chart1
      svg.discrete
