template(name='landingPage')
  .row-fluid
    .span3
    .span8
      .span3
        h4 Graphs
      .span3
        h4 Transactions
      .span3
        h4.head Hotspots
    .span1

  .box.WarpShadow.WLarge.WNormal.InOutBar
    #chart1
      svg.discrete
