template(name='landingPage')
  .box
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item TestActive1
        .item Test2
        .item Test3
      a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
      a.carousel-control.right(href='#myCarousel', data-slide='next') ›
