template(name='landing_page')
  .row-fluid
    .span3
    .span8
      .span3
        h4 
          a(href='#').head.active Graphs
      .span4
        h4 
          a(href='#').head Transactions
      .span4
        h4 
          a(href='#').head Hotspots
    .span1

  .box.WarpShadow.WLarge.WNormal.InOutBar
    #chart1
      svg.discrete
