template(name='landing_page')
  .row-fluid
    .span3
    .span8
      .span3
        h4 
          a(href='#').head.active Graphs
      .span4
        h4 
          a(href='#').head Transactions
      .span4
        h4 
          a(href='#').head Hotspots
    .span1

  .row-fluid
    .span6
      .box.WarpShadowRight.WLarge.WNormal.InOutBar
        #chart1
          svg.discrete
    .span6
      .box.WarpShadowLeft.WLarge.WNormal.SpendPie
        #chart2
          svg.discrete

  .row-fluid
    .span12
      .box.WarpShadow.WLarge.WNormal.HistoryBar
        #chart3
          svg.discrete
