/* Styling Landing Page */

@brown: #585340;  
@light-white: #b7ae9d;
@off-white: #fafffc;
@light-blue: #accecd;
@red: #8a151b;
@pinky: #bc6367;
@cool-blue: #EAF7FE;
@darkcool-blue: #245E8A;

.box {
    border: 1px solid @red;
    background-color: #fff; 
    box-shadow: 0px 2px 8px #231F20;
    -webkit-box-shadow: 0px 2px 8px #231F20;
    -mox-box-shadow: 0px 2px 8px #231F20;
    display : inline-table;

    &.InOutBar {
        height: 30%;
        width: 80%;
        margin-top: 2%;
    }

    &.SpendPie {
        height: 30%;
        width: 80%;
        margin-top: 8%;
    }

    &.HistoryBar {
        height: 37%;
        width: 86%;
        margin-left: 4%;
        margin-top: 6%;
    }
}

/* Styling Tab Headers */

a.head {
    text-decoration: none;
    color: #333;
    font: 400 2em 'Ledger', Garamond, Georgia, serif;
    border-bottom: 0.16em solid #F14C4C;

    &:hover {
        border-bottom: 0.16em solid #0882C0;
    }   

    &.active {
        border-bottom: 0.16em solid #1EBA1E;
    }
}

/* Styling Rows */

.section {
    border-bottom: 1px solid #CECECE;
    z-index: -3;
    position: relative;

    &.header {
        background-color: @cool-blue;        
        height: 243px;
    }

    &.brown {
        background-color: @brown;        
        height: 243px;
    }

    &.darkcool {
        background-color: @darkcool-blue;        
        height: 243px;
    }


    &.blue {
        background-color: @light-blue;        
        height: 243px;
    }

}