template(name='landing_page')
  .row-fluid.section.blue1
    .span1
      a.stylish Hi
    .span8
      h1 Get your money organised!
      p.lead LifeChart will help you sort out your money.

  .row-fluid.section.blue2.overview-graph
    .span6
      .WarpShadowRight.WLarge.WNormal.box.InOutBar
        #chart1
          svg.discrete
    .span6
      .text-talk
        p this is some geneeric rubbish

  .row-fluid.section.blue2.overview-graph
    .span6
      .WarpShadowRight.WLarge.WNormal.box.InOutBar
        #chartJs
          canvas.mychart#myChart
    .span6
      .text-talk
        p this is some geneeric rubbish

  .row-fluid.section.blue1
    .span12
      .box.WarpShadow.WLarge.WNormal.HistoryBar
        #chart3
          svg.discrete

  .row-fluid.section.blue2
    .span12
      .box.WarpShadow.WLarge.WNormal.HistoryBar
        #chart3
