
template(name='import_data_view')
    {{> main_header}}

template(name='import_data')
    h2 Import Data
    hr
    .row-fluid
        .span8.options
            p Please enter your Natwest Online Banking login details:
            form
                fieldset
                    label Customer Number:
                    input#cust-number(type="text", placeholder="Enter your Natwest customer number", value="XXXX")
                    label 4-Digit Pin:
                    input#cust-pin(type="password", placeholder="Enter your 4-digit Natwest pin number", value="XXXX")
                    label Password:
                    input#cust-pass(type="password", placeholder="Enter your Natwest online banking password", value="XXXX")
                    button.btn.import(type="submit") Import!
