
template(name='navigation_menu')
   .pure-menu.pure-menu-open
        ul
            li.pure-menu-heading Views
            li
                a(href='/AccountSummary', class='{{activeNav \'accSummary\'}}') Account Summary
            li
                a(href='/Transactions', class='{{activeNav \'trans\'}}')
                    | Transactions 
                    span.tran-count ({{ untaggedTrans }})
            li
                a(href='/Hotspots', class='{{activeNav \'hotspots\'}}') Hotspots
            li
                a(href='/Bills', class='{{activeNav \'bills\'}}') Bills
            li.pure-menu-heading Admin
            li
                a(href='/ImportData', class='{{activeNav \'import\'}}') Import Data
            li
                a(href='/RequestFeature', class='{{activeNav \'reqFeature\'}}') Request a feature!
            li
                a(href='/About', class='{{activeNav \'about\'}}') About
