
@import "../../style/colours.less";

#layout {
    padding-left:500px;
    position:relative;
}

#nav {
    position:fixed;
    top:0;
    bottom:0;
    overflow:auto;
    margin-left:-500px;
    width:180px;
    background:#252a3a;
    text-align:center;
    padding:2em 0;

    .pure-menu {
        background:transparent;
        border:none;
        text-align:left;

        a:hover {
            background:#373c5a;
        }

        a {
            color:#ffffff;
            margin-left:0.5em;
        }
    }

    .pure-menu-heading {
        border-bottom:none;
        font-size:110%;
        color:#4b7197;
    }

    .nav-menu-button {
        display:none;
    }
}

.tran-count {
    color:#4b7197;
}








/* Styling Sidebar */

.sidebar {
    position: fixed !important;
    background-color: @white;
    border-right: 1px solid #929292;
    box-shadow: 0px 4px 20px #231F20;
    -webkit-box-shadow: 0px 4px 20px #231F20;
    -mox-box-shadow: 0px 4px 20px #231F20;
    min-width: 304px;
    z-index: 10;
}

.wrap {
    min-height: 99%;
}

.nav-group {
    border: none;
}

.nav-gradient {
    background-color: @sidebar-nav-header;

    &.active {
        background-color: @sidebar-nav-header-active;
    }
}

.nav-font {
    color: black;
}

/* Styling Header */

.side-header {
    padding-left: 20px;
    display: block;
}

/* Styling Footer */

.side-footer {
    background-color: #fff;
    margin-top: -180px; /* negative value of footer height */
    height: 140px;
}

/* Styling user loggged in header */

.logging-in {
	max-width: 30%;
}

.alias {
	font-size: 1.1em;
}
