template(name='sidebar_content')
  {{> login_state}}

template(name='sidebar_user_details')
  {{#if currentUser}}
    {{#if loggingIn}}
      p.alert.alert-success.logging-in Logging you in...
    {{else}}
      .logged-in
        .alias {{currentUser.username}}
        p Not you? 
          a.logout Logout
    {{/if}}
  {{/if}}

template(name='sidebar_footer')
  hr
  .row
    .span2
    .span8
      p This is a new tool; Please leave any feedback @email
    .span2
  h6
    .row
      .span3
      .span6
        p
          a About 
          | - 
          a Terms and Conditions
      .span3
