
//- Header of sidebar
template(name='sidebar_user_details')
  {{#if currentUser}}
    {{#if loggingIn}}
      p.alert.alert-success.logging-in Logging you in...
    {{else}}
      .logged-in
        .alias {{currentUser.username}}
        p.logout-lbl Not you?
          a(href='#').logout-btn Logout
    {{/if}}
  {{/if}}

//- Main section of sidebar
template(name='sidebar_content')
  {{#unless currentUser}}
    {{> account_box}}
  {{/unless}}

  #nav.pure-u
    a.nav-menu-button(href='#nav') Menu
    .nav-inner
      .header
        a(href='#') 
          h2 Arrrrr
      {{> sidebar_user_details}}
      {{#if currentUser}}
        {{> logged_in}}
      {{else}}
        .account-btns
          a.pure-button.pure-button-success.login-btn.glow(href='#') Sign In
          p.or
            span Or
          a.pure-button.pure-button-warning.register-btn(href='#') Register
      {{/if}}

template(name='logged_in')
  {{#if currentUser}}
    {{> navigation_menu}}
  {{/if}}

template(name='logged_out')
  {{> user_account_form}}
  p.or
    span Or
  button.btn.google Login with Google | 
    i.icon-user
  p.or
    span Or
  button.btn.twitter Login with Twitter | 
    i.icon-user

//- Footer of sidebar
template(name='sidebar_footer')
  hr
  .row
    .span2
    .span8
      p This is a new tool; Please leave any feedback @email
    .span2
  h6
    .row
      .span3
      .span6
        p
          a About 
          | - 
          a Terms and Conditions
      .span3

//- .pure-menu.pure-menu-open
