template(name='loginButtons')
  .side-auth
    {{#if currentUser}}
      {{> loggedIn}}
    {{else}}
      legend Welcome!
      {{> loggedOut}}
    {{/if}}

template(name='loggedIn')
  {{#if loggingIn}}
    li
      a Logging in...
  {{else}}
    li
      img.img-rounded(style='height: 32px; margin-top: 4px;', src='{{currentUser.profile.avatar_url}}')
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        {{currentUser.profile.login}}
        b.caret
      ul.dropdown-menu
        li
          a Account Settings
        li.divider
        li
          a#logout Logout
  {{/if}}

template(name='loggedOut')
  {{> login}}
  p.or 
    span Or
  button.btn.google Login with Google | 
    i.icon-user
  p.or
    span Or
  button.btn.twitter Login with Twitter | 
    i.icon-user

template(name='login')
  form.login-form
      fieldset
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-user
              input#emailAddr(type='text', placeholder='Username')
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-lock
              input#pass(type='password', placeholder='Password')
          .form-actions
            .span9.left-pull
              p Haven't got an account?
                button.btn.btn-link.toEnrollBtn Create one here!
            .span3
              button.btn.btn-primary(type='submit').loginBtn Login

template(name='newAccount')
  form.login-form
      fieldset
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-user
              input#emailAddr(type='text', placeholder='Username')
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-lock
              input#pass(type='password', placeholder='Password')          
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-exclamation-sign
              input#confpass(type='password', placeholder='Confirm Password')
          .form-actions
            .span9.left-pull
              p Already registered?
                button.btn.btn-link.toLoginBtn Login here!
            .span3
              button.btn.btn-primary(type='submit').enrollBtn Create Account

