template(name='loginButtons')
  .side-auth
    {{#if currentUser}}
      {{> loggedin}}
    {{else}}
      legend Welcome!
      {{> loggedout}}
    {{/if}}

template(name='loggedin')
  {{#if loggingIn}}
    li
      a Logging in...
  {{else}}
    li
      img.img-rounded(style='height: 32px; margin-top: 4px;', src='{{currentUser.profile.avatar_url}}')
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        {{currentUser.profile.login}}
        b.caret
      ul.dropdown-menu
        li
          a Account Settings
        li.divider
        li
          a#logout Logout
  {{/if}}

template(name='loggedout')
  form.login-form
      fieldset
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-user
              input#emailAddr(type='text', placeholder='Username')
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-lock
              input#pass(type='password', placeholder='Password')          
          .control-group.input-prepend
            .controls
              span.add-on
                i.icon-exclamation-sign
              input#confpass(type='password', placeholder='Confirm Password')
          .form-actions
            button.btn.btn-primary(type='submit') Create Account
            button.btn Cancel

