
@import "../../style/colours.less";

/* Styling Sidebar */

.sidebar {
    position: fixed;
    background-color: @white;
    border-right: 1px solid #929292;
    box-shadow: 0px 4px 20px #231F20;
    -webkit-box-shadow: 0px 4px 20px #231F20;
    -mox-box-shadow: 0px 4px 20px #231F20;
    min-width: 304px;
    z-index: 10;
}

.wrap {
    min-height: 99%;
}

/* Styling Header */

.side-header {
    padding-left: 20px;
    display: block;
}

/* Styling Footer */

.side-footer {
    background-color: #fff;
    margin-top: -180px; /* negative value of footer height */
    height: 140px;
}

/* Styling user loggged in header */

.logging-in {
	max-width: 30%;
}

.alias {
	font-size: 1.1em;
}
