
/* Styling Sidebar Content */
/* Maybe put in separate css file */

.side-auth {
	width: 70%;
	text-align: center;
	margin-top: 25%;
	margin-left: 10%;
}

/* Styling Login Form */

.login-form {
	.form-actions {
		background-color: #fff !important;
		border-top: 0px !important;
	}
}

